/*removes space between heading, window, and navbar*/
body {
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
    height: 100%;


    background-image: url(images/library_background.jpeg);
}

/*heading (in nav css since heading is in all html files, just like nav bar)*/
.head {
    background-image:
    url('images/lake.jpg');
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }

.banner {
    text-align: center;
    color: white;
    margin: 0px;
    padding-top: 1%;
    padding-bottom: 1%;

    background-color: rgba(0,0,0,0.7);
}

.banner h1, h2, h3, h4 {
    margin: 20px;
}

.banner a {
    padding: 5px;
    color: red;
}


#title {
    background-color: #333;
    text-align: center;
    margin: 2px;
    padding-top: 0.5rem;
    padding-bottom: 0.1rem;
    color: white;

    background: rgb(23,23,23);
    background: linear-gradient(90deg, rgba(23,23,23,1) 12%, rgba(103,103,103,1) 50%, rgba(22,22,22,1) 87%);

}

#title h2 {
    padding: 0px;
    margin: 0px;
}

#title h3 {
    margin-bottom: 0px;
}

/*navigation bar*/

.navBar {
    font-family: sans-serif;
    height: auto;
    background-color: #212121;

}


.navBar ul {
  list-style-type: none;
    margin: 0px;
    padding: 0px;
  overflow: hidden;
  background-color: #212121;
    text-align: center;
    padding-left: 15%;


}

.navBar li {
    float: left;
    border: white solid 1px;
    margin: 5px;
}

.navBar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navBar a:hover {
  background-color: #ddd;
  color: black;
}

.navBar a.active {
    background-color: #ff6524;
    color: white;
}


/*keep content spaced away from nav bar (in nav css because content
organization is universal throughout website for the most part)*/

.content {
    font-family: sans-serif;
    padding: 2% 10% ;
    height: auto;

    background-color: white;


}

.opening {
    padding: 1em;
    margin-top: 0px;
    text-align: center;
    background-color: white;
    font-size: 1.25em;


    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 5px;
}

.image {
    float: right;
    width:300px;
    height:200px;
}


/*footer css in nav css because footer remains the same universally*/
footer p {
    text-align: center;
    color: white;
    margin: 0px;
}

footer {
    background-color: #212121;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 0px;
    width: 100%;
    height: auto;
}

/* CLEARFIX */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* MEDIA QUERIES */
