/*removes space between heading, window, and navbar*/
body {
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;

    background-image: url(images/library_background.jpeg);
}

/*heading (in nav css since heading is in all html files, just like nav bar)*/
#head {
    text-align: center;
    color: white;
    padding-left: 15%;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;

    background-color: black;

}

#head h1 {
    margin:0;
}

#title {
    background-color: #333;
    text-align: center;
    margin: 2px;
    padding-top: 0.5rem;
    padding-bottom: 0.1rem;
    color: white;

    background: rgb(23,23,23);
    background: linear-gradient(90deg, rgba(23,23,23,1) 12%, rgba(103,103,103,1) 50%, rgba(22,22,22,1) 87%);

}

#title h2 {
    padding: 0px;
    margin: 0px;
}

#title h3 {
    margin-bottom: 0px;
}

/*navigation bar*/
#navBar ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 20%;
    height: 100%;

    overflow: auto;
    background-color: #333;
    float: left;
}

#navBar li a {
    display: block;
    color: white;
    padding: 8% 8%;
    margin: 2px;
    text-decoration: none;

    border-style: solid;
    border-width: 1px;
    border-color: black;
}

/*
kinda useless

#navBar li p {
    text-indent: 10%;
    padding-left: 1.5%;
}

#navBar h5 {
    padding-left: 30%;
}


#navBar h2 {
    color: white;
    padding-left: 8%;
    padding-top: 5%;
}
*/

#sideBarReading {
    color: lightgrey;
    text-align: center;
    border: 1px;

}

#navBar li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #ff6524;
}

/*keep content spaced away from nav bar (in nav css because content
organization is universal throughout website for the most part)*/
.content {
    font-family: sans-serif;
    margin-left: 20%;
    padding: 0.5% 10%;
    height: 1000px;

    background-color: white;


}

.opening {
    padding: 1em;
    margin-top: 0px;
    text-align: center;
    background-color: white;
    font-size: 1.25em;


    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 5px;
}

.image {
    float: right;
    width:300px;
    height:200px;
}


/*footer css in nav css because footer remains the same universally*/
footer p {
    text-align: center;
    padding-left: 15%;
}

footer {
    background-color: white;
}


/* CLEARFIX */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


@media only screen and (max-width: 767px) {
    /* phones */


    /*removes space between heading, window, and navbar*/
    body {
        margin: 0;
        padding-left: 5%;
        padding-right: 5%;

        background-image: url(images/library_background.jpeg);
    }

    /*heading (in nav css since heading is in all html files, just like nav bar)*/
    #head {
        text-align: center;
        color: white;
        margin: 0px;
        padding-top: 1%;
        padding-bottom: 1%;

        background-color: black;

    }

    #head h1, h2, h3, h4 {
        margin: 10px;
    }

    #head a {
        padding: 5px;

    }

    #title {
        background-color: #333;
        text-align: center;
        margin: 2px;
        padding-top: 0.5rem;
        padding-bottom: 0.1rem;
        color: white;

        background: rgb(23,23,23);
        background: linear-gradient(90deg, rgba(23,23,23,1) 12%, rgba(103,103,103,1) 50%, rgba(22,22,22,1) 87%);

    }

    #title h2 {
        padding: 0px;
        margin: 0px;
    }

    #title h3 {
        margin-bottom: 0px;
    }

    /*navigation bar*/

    .navBar {
        font-family: sans-serif;
        height: auto;
        background-color: black;

    }


    .navBar ul {
      list-style-type: none;
        margin: 0px;
        padding: 0px;
      overflow: hidden;
      background-color: #333;
        text-align: center;
        padding-left: 15%;


    }

    .navBar li {
        float: left;
        border: white solid 1px;
        margin: 5px;
    }

    .navBar a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    .navBar a:hover {
      background-color: #ddd;
      color: black;
    }

    .navBar a.active {
        background-color: #ff6524;
        color: white;
    }


    /*keep content spaced away from nav bar (in nav css because content
    organization is universal throughout website for the most part)*/

    .content {
        font-family: sans-serif;
        padding: 2% 10% ;
        height: auto;

        background-color: white;
    }

    .opening {
        padding: 1em;
        margin-top: 0px;
        text-align: center;
        background-color: white;
        font-size: 1.25em;


        border-style: solid;
        border-width: 2px;
        border-color: black;
        border-radius: 5px;
    }

    .image {
        float: right;
        width:300px;
        height:200px;
    }

}
